@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


* {
  margin: 0;
}


.create2_app {
  position: relative;
  background-color: #EBE5FD;
 /* height: 100vh;*/
  height: 100%;
  font-family: 'Kanit', sans-serif;
  padding-bottom: 2%;
}

.create2_body_head {
  text-align: center;
  color: #836CDF;
  font-size: 3rem;
  padding: 1%;
}

.create2_body {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 60%;
  height: 100%;
  padding: 2%;
  border-radius: 20px;
}


.create2_topic {
  margin-left: -40%;
  width: 100%;
}

.create2_item {
  padding-top: 2%;    
  margin-left: -40%;
}

.create2_detail {
    width: 50%;
    float:left;
    padding-right: 5%;
    padding-top: 2%;
}

.create2_reward {
    width: 50%;
    float:right;
    padding-right: 5%;
    padding-top: 2%;
}

.create2_date {
    padding-top: 2%;
    float: left;
}

.create2_getdate {
  float: left;
  width: 49%;
  
}

.create2_givedate {
  float: left;
  width: 49%;
  margin-left: 2%;
}

.create2_place {
    width: 50%;
    float:left;
    padding-right: 5%;
    padding-top: 2%;
    padding-top: 2%;
}

.create2_highlightPost {
    width: 50%;
    float:left;
    padding-right: 5%;
    padding-top: 5%;
    padding-top: 2%;
    color: #836CDF;
}

.create2_warning {
    color: red;
    font-size: 0.5rem;
    padding-bottom: 5%;
  }
  
  

.create2_submit {
    margin-left: 40%;

  }



@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }