@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


* {
  margin: 0;
}



.app__header {
    background-color: #836CDF;
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 60px;
    object-fit: contain;
    color: white;
    font-size: 2rem;
}
  
.text {
    float: left;
    width: 20%;
    font-size: 2rem;
}

.search1 {
  width: 50%;
  float: left;
}

.inputsearch1 {
    width: 80%;
    float: left;
    margin-top: 1%;
}

.submit1 {
    width: 20%;
    float: left;
    margin-bottom: 5%;

}


.header1_login {
  float: left;
  margin-left: 15%;
  width: 7%;
}

.header1_register {
  float: right;
  width: 8%;
  padding-top: 1%;
  font-size: 1rem;
  color: white;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }