@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


* {
  margin: 0;
}


.heder2_app__header {
    background-color: #836CDF;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 60px;
    object-fit: contain;
    color: white;
    font-size: 2rem;
}
  
.header2_text {
    float: left;
    width: 20%;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.heder2_inputsearch {
    width: 40%;
    float: left;
    margin-top: 0.8%;
}

.heder2_submit {
    width: 5%;
    float: left;
    margin-top: 0.8%; 
    border: solid white;
    color: white;
}

.header2_user_img {
  border-radius: 50%;
  width: 20%;
}

.heder2_profileheader {
  float: left;
  width: 10%;
  padding: 0.6%;
  background-color:#6756AB;
  border-radius: 20px;
  border: solid #6756AB;
  color: white;
  margin-left: 18%;
}

.header2_user_img {
  float: left;
  margin-right: 5%;
}
.header2_username {
  float: left;
  font-size: 1rem;

}

.heder2_chatheader {
  float: right;
  width: 7%;
  padding: 2%;
  margin-top: -2%;
}


@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }