@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


* {
  margin: 0;
}


.app {
  position: relative;
  background-color: #EBE5FD;
 /* height: 100vh;*/
  height: 100%;
  font-family: 'Kanit', sans-serif;
  padding-bottom: 2%;
}
.body_head {
  padding-bottom: 10%;
  background-color: white;
  width: 90%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
  font-size: 2rem;
  margin-top: 3%;
  margin-left: 5%;

}

