@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


* {
  margin: 0;
}


.login_app {
  background-color: #EBE5FD;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
}



.login_body_head {
  text-align: center;
  color: #836CDF;
  font-size: 3rem;
  padding: 2%;
}

.login_body{
  width: 40%;
  margin-left: 30%;
  background-color: white;
  padding: 5%;
  font-size:1.3rem;
  border-radius: 25px;
  
}

.login_username {
  color: #836CDF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}

.login_password {
  color: #836CDF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.login_submit {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5% ;
  width: 20%;
  
}

.login_but {
  background-color: #836CDF;
  border-color: #836CDF;
}